<html>
    <head>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            div { padding: 30px; margin: 30px auto; max-width: 600px; border: 1px solid #ccc; box-shadow: 3px 3px 3px #aaa; }
            table { border-collapse: collapse; margin: 40px auto; } 
            td { width: 50px; height: 50px; border: 1px solid gray; font-size: 20pt; text-align: center; cursor: pointer; }
            .yellow { background-color: #ffa }
        </style>
    </head>
    <body>
        <div id="app">
            <table>
                <tr v-bind:key="index1" v-for="(item, index1) in array">
                    <td v-bind:key="index2" v-for="(value, index2) in item" v-on:Click="changeColor(value)" v-bind:class="{ 'yellow' : checkList[value-1] }">
                        {{ value }}
                    </td>
                </tr>
            </table>          
        </div>


        <script type="text/javascript">
            new Vue({
                el: '#app',
                data: {
                    size: 3,
                    array: [],
                    checkList: {}
                },
                created() {
                    for(let i = 0 ; i < this.size ; i++) {
                        this.array[i] = [];
                        for(let j = 0 ; j < this.size ; j++) {
                            this.array[i][j] = i * this.size + j+1;
                        }
                    }
                },
                methods: {
                    changeColor(value) {
                        this.checkList[value-1] = true;
                        this.$forceUpdate();
                    }
                }
            })
        </script>
    </body>
</html>