<html>
    <head>
        <title>구구단</title>
        <meta charset="utf-8">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <style>
            table { border-collapse: collapse; }
            td { padding: 10px ; border: 1px solid ; text-align: center}
            
        </style>
    </head>
    <body>
        <div id="app">
            <table>
                <tr v-for="r in row_size">
                    <td v-for="c in col_size" borderless>
                        {{ c+1 }} * {{ r }} = {{ (c+1)*r }}
                    </td>
                </tr>
            </table>
        </div>
        
        <script>
            new Vue({
                el: '#app',
                data: {
                    row_size: 9,
                    col_size: 8
                }
            })
        </script>
    </body>
</html>